@import "tailwindcss";

/* --------------------------------------------------
   Root Variables
-------------------------------------------------- */
:root {
  --background: #ededed;
  --foreground: #0a0a0a;
  --secondary: #e1e1e1;
  --border: 1px solid var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* --------------------------------------------------
   Global Elements
-------------------------------------------------- */
body {
  margin: 1em 1em 3em;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 0.8em;
  overflow-x: hidden;
  z-index: 1;
  transition: all 0.2 ease-in-out;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

button {
  --border: 1px solid var(--foreground);
  float: right;
  padding: 5px;
}

button:hover {
  text-decoration: underline;
}

textarea,
input {
  width: 100%;
  background-color: var(--secondary);
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 5px;
  vertical-align: top;
}

/* --------------------------------------------------
   Columns
-------------------------------------------------- */
.column,
.column-header {
  margin: 0 auto;
  width: 100vh;
  max-width: 100%;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em;
}

.column-header {
  border: var(--border);
  margin-bottom: 1em;
  position: relative;
  padding: 1.5em;

  .inverter {
    margin-top: -1.5em;
    margin-left: -1.5em;
  }
}

.column-body {
  flex: 1 1 auto;
  max-width: 100%;
}

/* --------------------------------------------------
   Inverter Effect
-------------------------------------------------- */
.inverter {
  pointer-events: none;
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: var(--background);
  mix-blend-mode: difference;
  transition: width 0.5s ease-in-out;
}

div:hover {
  .inverter {
    width: 100%;
  }
}

/* --------------------------------------------------
   Navigation
-------------------------------------------------- */
.nav-bar-title {
  font-size: 2em;

  &:hover {
    text-decoration: none;
  }
}

.nav-bar-menu {
  flex: 0.5 1 auto;
  min-width: 8em;
  max-width: 8em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  .nav-item {
    text-align: center;
    padding: 0.5em;
    width: 100%;
    margin-bottom: 1em;
    border: var(--border);
  }
}

.nav-item {
  color: var(--foreground);
  background-color: var(--background);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--foreground);
    color: var(--background);
  }
}

/* --------------------------------------------------
   About Mosaic
-------------------------------------------------- */
.about-mosaic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1em;
  margin-bottom: 1em;

  .about-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1 1 auto;
    width: 40%;
    max-width: 50%;

    
    .about-item {
      flex: 1 1 auto;
      padding: 1em;
      border: var(--border);
    }
  }
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

@media (pointer: coarse) {
  .about-mosaic {
    flex-direction: column;

    .about-item {
      width: 100%;
      max-width: 100%;
    }
  }
}

/* --------------------------------------------------
   Image Scroller
-------------------------------------------------- */
.image-row-container {
  display: flex;
  overflow-x: auto;
  height: 10em;
  -webkit-overflow-scrolling: touch;
  margin: 0.5em;
}

.image-row-container-img {
  flex-shrink: 0;
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 0.5em;
}
.image-row-container-img:hover {
  cursor: pointer;
}

.img-closer,
.img-scroller,
.overlay-image {
  position: fixed;
  text-align: center;
  z-index: 9999;
  font-size: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.img-closer {
  top: 10px;
}

.img-scroller {
  top: 50%;
  transform: translate(0%, -50%);
}

.img-overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.overlay-image {
  top: 50%;
  left: 50%;
  opacity: 100%;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
  width: 80vh;
  max-width: 100%;
  height: auto;
  max-height: 80vh;
}
