@import "tailwindcss";

/* --------------------------------------------------
   Root Variables
-------------------------------------------------- */
:root {
  --background: #ededed;
  --foreground: #0a0a0a;
  --secondary: #e1e1e1;
  --border: 1px solid var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* --------------------------------------------------
   Global Elements
-------------------------------------------------- */
body {
  margin: 1em 1em 3em;
  margin-bottom: 10em;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 0.8em;
  overflow-x: hidden;
  z-index: 1;
  transition: all 0.2 ease-in-out;
}

a {
  cursor: pointer;


}

button {
  --border: 1px solid var(--foreground);
  float: right;
  padding: 5px;
}

button:hover {
  text-decoration: underline;
}

textarea,
input {
  width: 100%;
  background-color: var(--secondary);
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 5px;
  vertical-align: top;
}

/* --------------------------------------------------
   Columns
-------------------------------------------------- */
.column,
.column-header {
  margin: 0 auto;
  width: 100vh;
  max-width: 100%;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em;
}

.column-header {
  border: var(--border);
  margin-bottom: 1em;
  position: relative;
  padding: 1.5em;

  .inverter {
    margin-top: -1.5em;
    margin-left: -1.5em;
  }
}

#column-body {
  flex: 1 1 auto;
  max-width: 100%;
}

/* --------------------------------------------------
   Inverter Effect
-------------------------------------------------- */
.inverter {
  pointer-events: none;
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: var(--background);
  mix-blend-mode: difference;
  transition: width 0.5s ease-in-out;
}

div:hover {
  .inverter {
    width: 100%;
  }
}

/* --------------------------------------------------
   Navigation
-------------------------------------------------- */
.nav-bar-title {
  font-size: 2em;

  &:hover {
    text-decoration: none;
  }
}

.nav-bar-menu {
  flex: 0.5 1 auto;
  min-width: 8em;
  max-width: 8em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

}

.nav-item, #nav-item-opener {
  text-align: center;
  padding: 0.5em;
  width: 100%;
  margin-bottom: 1em;
  border: var(--border);
  color: var(--foreground);
  background-color: var(--background);
  transition: opacity 0.1s ease-in-out, filter 0.2s ease-in-out;
  filter: invert(0%);
}


.nav-item:hover {
  filter: invert(100%);
}

#nav-item-opener {
  display: none;
}

/* --------------------------------------------------
   About Mosaic
-------------------------------------------------- */
.about-mosaic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1em;
  margin-bottom: 1em;

  .about-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1 1 auto;
    width: 40%;
    max-width: 50%;

    
    .about-item {
      flex: 1 1 auto;
      padding: 1em;
      border: var(--border);
    }
  }
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

@media (pointer: coarse) {
  .about-mosaic {
    flex-direction: column;

    .about-column {
      max-width: 100%;
      width: 100%;
    }

    .about-item {
      width: 100%;
      max-width: 100%;
    }
  }

  .column {
    flex-direction: column;
    .nav-bar-menu {
      width: 100%;
      max-width: none !important;
      
    }
    gap: 0;
  }

  #column-body {
    width: 100%;
  }

  #nav-item-opener {
    display:block;
  }

  .nav-item {
    display: none;
    transition: none;
  }

  .news-box {
    flex-direction: column;
    .news-img {
      max-width: 100% !important; 
      min-height: 150px;
      background-size: cover;
      background-position: center;
      flex: 1 0 0  !important;
    }
    .news-body {
      flex: 1 1;
    }
    .news-date {
      float: none !important;
    }
  }
}

/* --------------------------------------------------
   Image Scroller
-------------------------------------------------- */
.image-row-container {
  height: 15em;
  -webkit-overflow-scrolling: touch;
  margin: 0.5em;
  overflow-x: auto;
  display: flex;
}

.img-row-box {
  height: 15em;
  width: 30%;
  margin: 1.5%;
  background-size: cover;
  background-position: center;
  float: left;
  filter: blur(0);
}

.img-row-box-title {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  background-color: rgba(255, 255, 255, 0.5);
}

.img-row-box:hover {
  cursor: pointer;
  .img-row-box-title {
    opacity: 1.0;
  }
}

.image-row-container-img {
  
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 0.5em;
}

.image-row-container-img:hover {
  cursor: pointer;
}

.img-closer,
.img-scroller,
.overlay-image {
  position: fixed;
  text-align: center;
  z-index: 9999;
  font-size: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.img-closer {
  top: 10px;
}

.img-scroller {
  top: 50%;
  transform: translate(0%, -50%);
}

.img-overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.overlay-image {
  top: 50%;
  left: 50%;
  opacity: 100%;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
  width: 80vh;
  max-width: 100%;
  height: auto;
  max-height: 80vh;
}


/* --------------------------------------------------
   News
-------------------------------------------------- */

.news-box {
  width: 100%;
  min-height: 15em;
  max-width: 100%;
  border: var(--border);
  padding: 1em;
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  .news-img {
    max-width: 25%;
    max-height: 15em;
    flex: 1 0 0;
    background-size: cover;
    background-position: center;
  }
  .news-body {
    flex: 1 1;
  }
  .news-date {
    float: right;
  }
}